<!DOCTYPE html>
<html>
  <head>
    <title>reservation</title>
  </head>
  <body>
  <h1>Here is your lane reservation</h1>
  <h3>hi, <%=@the_user%>! here is your lane number: <%=@the_fortune%> </h3>
  </body>
</html>